In [1]:
import pandas as pd
import numpy as np

In [6]:
ml_data_df = np.load('../SHAP/Network/traces/ml_data_example/data0.npy')
ml_data_df = pd.DataFrame(ml_data_df)
ml_data_df

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
0,0.866600,0.740682,0.009929,0.602082,0.333232,0.181818,0.002228,0.000000,0.000000,0.000000,...,0.002667,0.000000,0.557971,0.000000,0.000000,0.000000,0.192387,0.006519,0.000000,0.553854
1,0.866600,0.740682,0.009929,0.759899,0.329192,0.181818,0.001298,0.000000,0.000000,0.000000,...,0.002667,0.000000,0.101449,0.000000,0.000000,0.000000,0.146480,0.022663,0.000000,0.544598
2,0.866600,0.740682,0.009929,0.555414,0.334153,0.181818,0.007719,0.000000,0.000000,0.000000,...,0.002667,0.000000,0.350242,0.000000,0.000000,0.000000,0.192507,0.003854,0.000000,0.433916
3,0.867017,0.740150,0.009898,0.760760,0.333496,0.181250,0.001425,0.014864,0.015765,0.001112,...,0.005333,0.333333,0.541063,0.003273,0.003273,0.003273,0.205735,0.009143,0.003273,0.462602
4,0.862915,0.739718,0.015113,0.936873,0.331307,0.180348,0.011471,0.117894,0.020776,0.135729,...,0.005333,0.333333,0.183575,0.012372,0.012372,0.012372,0.126793,0.012372,0.010973,0.417603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16819,0.958860,0.359864,0.613591,0.459685,0.805448,0.136221,0.000110,0.172989,0.841143,0.875823,...,0.144000,0.333333,0.772947,0.124110,0.137568,0.344822,0.345792,0.224454,0.072707,0.174630
16820,0.956623,0.385056,0.601749,0.475869,0.790121,0.134617,0.000115,0.181457,0.827789,0.875904,...,0.138667,0.333333,0.768116,0.126011,0.139658,0.354719,0.356790,0.231084,0.073718,0.187005
16821,0.958841,0.383268,0.602193,0.473124,0.794124,0.134153,0.000118,0.166016,0.828807,0.877926,...,0.157333,0.666667,0.826087,0.124999,0.139763,0.353041,0.354036,0.232597,0.074275,0.179248
16822,0.959003,0.365843,0.616239,0.460364,0.795145,0.136254,0.000117,0.163852,0.838133,0.871482,...,0.154667,0.333333,0.823671,0.124596,0.139141,0.352403,0.353254,0.231771,0.073004,0.186593
16823,0.960945,0.367529,0.617948,0.462215,0.797470,0.135892,0.000116,0.143793,0.837397,0.871088,...,0.136000,0.333333,0.787440,0.123019,0.139052,0.352579,0.350582,0.232066,0.073145,0.180700

In [10]:
ml_data_labels_df = np.load('../SHAP/Network/traces/ml_data_example/label0.npy')
ml_data_labels_df = pd.DataFrame(ml_data_labels_df)
ml_data_labels_df

              0
0           dns
1           dns
2           dns
3           dns
4           dns
...         ...
16819  udp_ssdp
16820  udp_ssdp
16821  udp_ssdp
16822  udp_ssdp
16823  udp_ssdp

[16824 rows x 1 columns]

In [13]:
# save the data and labels to csv
ml_data_df.to_csv('./sources/ml_data.csv', index=False)
ml_data_labels_df.to_csv('./sources/ml_data_labels.csv', index=False)