In [7]:
import pandas as pd
import numpy as np

In [8]:
ml_data_df = np.load('../SHAP/Network/traces/ml_data_example/data0.npy')
ml_data_df = pd.DataFrame(ml_data_df)

In [9]:
ml_data_labels_df = np.load('../SHAP/Network/traces/ml_data_example/label0.npy')
ml_data_labels_df = pd.DataFrame(ml_data_labels_df)
# ml_data_labels_df = ml_data_labels_df.rename(columns={0: 'label'})
ml_data_labels_df = ml_data_labels_df.rename(columns={0: 'label'})
# ['dns', 'ldap', 'mssql', 'netbios', 'ntp', 'snmp', 'syn', 'tftp','udp_ssdp'] 
# encode with 0-8 in above label order
ml_data_labels_df['label'] = ml_data_labels_df['label'].replace(['dns', 'ldap', 'mssql', 'netbios', 'ntp', 'snmp', 'syn', 'tftp','udp_ssdp'],[0,1,2,3,4,5,6,7,8])
ml_data_labels_df1 = ml_data_labels_df[0:200]
ml_data_labels_df2 = ml_data_labels_df[1250:1450]
ml_data_labels_df3 = ml_data_labels_df[4000:4200]
ml_data_labels_df4 = ml_data_labels_df[7250:7450]
ml_data_labels_df5 = ml_data_labels_df[10350:10550]
ml_data_labels_df6 = ml_data_labels_df[10650:10850]
ml_data_labels_df7 = ml_data_labels_df[12400:12600]
ml_data_labels_df8 = ml_data_labels_df[14700:14900]
ml_data_labels_df9 = ml_data_labels_df[15350:15550]
sum_ml_data_labels_df = pd.concat([ml_data_labels_df1, ml_data_labels_df2, ml_data_labels_df3, ml_data_labels_df4, ml_data_labels_df5, ml_data_labels_df6, ml_data_labels_df7, ml_data_labels_df8, ml_data_labels_df9], axis=0)
sum_ml_data_labels_df = sum_ml_data_labels_df.reset_index(drop=True)
sum_ml_data_labels_df

      label
0         0
1         0
2         0
3         0
4         0
...     ...
1795      8
1796      8
1797      8
1798      8
1799      8

[1800 rows x 1 columns]

In [10]:
ml_data_df1 = ml_data_df[0:200]
ml_data_df2 = ml_data_df[1250:1450]
ml_data_df3 = ml_data_df[4000:4200]
ml_data_df4 = ml_data_df[7250:7450]
ml_data_df5 = ml_data_df[10350:10550]
ml_data_df6 = ml_data_df[10650:10850]
ml_data_df7 = ml_data_df[12400:12600]
ml_data_df8 = ml_data_df[14700:14900]
ml_data_df9 = ml_data_df[15350:15550]
sum_ml_data_df = pd.concat([ml_data_df1, ml_data_df2, ml_data_df3, ml_data_df4, ml_data_df5, ml_data_df6, ml_data_df7, ml_data_df8, ml_data_df9], axis=0)
sum_ml_data_df = sum_ml_data_df.reset_index(drop=True)

### Save

In [11]:
# save the data and labels to csv
ml_data_df.to_csv('./sources/ml_data.csv', index=False)
ml_data_labels_df.to_csv('./sources/ml_data_labels.csv', index=False)

In [12]:
# save the data and labels to npy files
np.save('./sources/ml_data(5000).npy', sum_ml_data_df)
np.save('./sources/ml_data_labels(5000).npy', sum_ml_data_labels_df)